{% extends "base.html" %}

{% set active_page = "trends" %}

{% block content %}
<style>
  .dotCasualties {
    fill: steelblue;
    stroke: #fff;}

  .dotCasualties:hover {
    fill: indianRed;}

  .dotFatalities {
    fill: red;
    stroke: #fff;}

  .dotFatalities:hover {
    fill: indianRed;}
  
  .focus circle {
    fill: none;
    stroke: steelblue;}

  .toolTip {
    position: absolute;
    display: none;
    min-width: 30px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 3px;
    text-align: center;}

  .text{
    margin-left: 40px;
    margin-right: 40px;
    font-family: arial;}

  .plot{
    margin-left:30px;
    margin-right:30px;}

  .lineFatalitiesLabel{
    font-size: 11px;
    text-anchor: start;
    fill: red;}

  .lineCasualtiesLabel{
    font-size: 11px;
    text-anchor: start;
    fill: steelblue;}

  .title{
    font-size: 12px;
    text-anchor: start;
    fill: black;}

  .xAxisLabel{
    font-size: 11px;
    text-anchor: start;
    fill: black;}

</style>

<body>
  <div class="text">
    <h2><p>Trends</p> </h2>
    <p>Visualizing the trends shows the distribution of the 15,429 casualties and 8,656 fatalities across months of the year and hours of the day. By doing this, we can determine which months and hours held the most and least casualties and fatalities from the 2006 to 2008 reports.</p>
    <h4>Monthly Trends</h4>
    <br>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="plot">
          <svg id="monthly"></svg>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text">
          While excluding January, the first half of the year has lower total casualties and fatalities when compared to the second half. March is the lowest month for the total number of casualties with 1,061. In regards to fatalities, though, February has the lowest count of 624. October holds the highest number of total casualties at 1,450 and also the highest number of fatalities with 821. 
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text">
    <h4>Hourly Trends</h4>
    <br>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="plot">
          <svg id="hourly"></svg>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text">
          The hourly trend follows the time of day where most people would be driving. Hour 0 maps to midnight, with hour 12 being noon and hour 23 being 11:00 pm. The values for both casualties and fatalities are lowest in the morning hours. Around 5:00 am, both start to increase as people start traveling for the day. This increase continues throughout the day until 5:00 pm, when it starts to decline as people have reached their destinations for the day. 5:00 pm is the peak for total casualties at 1,031 but is tied for the highest number of fatalities with 4:00 pm at 554. 
        </div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script type="text/javascript" src="{{url_for('static', filename='js/trends.js')}}"></script>

</body>
{% endblock %}