{% extends "base.html" %}

{% block content %}

<head>
    <title>Age and Fatal Casualty Types</title>
</head>
<style>
    .bar {
      fill: steelblue;}
    .bar:hover {
      fill: rosybrown;}
    .axis--x path {
        display: none;}
    .axis text {
                font-family: sans-serif;
                font-size: 6px;}
    .toolTip {
         position: absolute;
         display: none;
         min-width: 50px;
         height: auto;
         background: none repeat scroll 0 0 #ffffff;
         border: 1px solid #6F257F;
         padding: 5px;
         text-align: center;}
</style>
<body>
    <h2><p style = "font-family:arial">Age and Fatal Casualty Types</p></h2>
     <p style = "font-family:arial"> Select an option:</p>
    <form name="myForm">
    <input type="radio" name="myRadios"  value="All" >All</value>
    <input type="radio" name="myRadios"  value="Male" >Male</value>
    <input type="radio" name="myRadios"  value="Female" >Female</value>
</form>
Analysis: <span id="source"></span>
</body>
<script type="text/javascript">
var sourceField = document.getElementById('source');
var rad = document.myForm.myRadios;
var prev = null;
for(var i = 0; i < rad.length; i++) {
    rad[i].onclick = function() {
        if(this !== prev) {
            prev = this;
            string = this.value;
            if (string ==='All'){
                text = "Text here describing all graphs ";
            }else if (string ==='Female'){
                text = "Text here describing female graphs";
            }else{
                text = "Text here describing male graphs ";
            };
            sourceField.textContent = text;
        };
    };
};
</script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/fatal_type.js')}}"></script> -->

    <script type="text/javascript" src="{{url_for('static', filename='js/age_fatal_count.js')}}"></script>


    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/fatality_type_by_age.js')}}"></script> -->


{% endblock %}