{% extends "base.html" %}

{% block content %}

<head>
    <title>Age and Fatal Casualty Types</title>
</head>
<style>
    .bar {
      fill: steelblue;}

    .bar:hover {
      fill: indianRed;}

    .axis--x path {
        display: none;}

    .axis text {
                font-family: sans-serif;
                font-size: 6px;}

    .toolTip {
         position: absolute;
         display: none;
         min-width: 50px;
         height: auto;
         background: none repeat scroll 0 0 #ffffff;
         border: 1px solid #6F257F;
         padding: 5px;
         text-align: center;}

</style>
<body>
    <h2><p style = "font-family:arial">Age and Fatal Casualty Types</p></h2>
     <p style = "font-family:arial"> Select an option:</p>
    <div class = "container-fluid">
            <!-- Intro button -->
            <a href="/introduction"><button type="radio" class="btn btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> All 
            </button></a>
            <!-- Trends button -->
            <a href="/trends"><button type="radio" class="btn btn-primary" aria-label="Right Align">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Male 
            </button></a>
            <!-- Type button -->
            <a href="/type"><button type="radio" class="btn btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Female 
            </button></a>
        </div>
    <p style = "font-family:arial">
    Three plots will be on this page!
	</p>
    <form name="myForm">
    <input type="radio" name="myRadios"  value="all" >All</value>
    <input type="radio" name="myRadios"  value="male" >Male</value>
    <input type="radio" name="myRadios"  value="female" >Female</value>
</form>
Gender: <span id="gender"></span>
Analysis: <span id="source"></span>
</body>
<script type="text/javascript">
var genderField = document.getElementById('gender');
var sourceField = document.getElementById('source');
var rad = document.myForm.myRadios;
var prev = null;
for(var i = 0; i < rad.length; i++) {
    rad[i].onclick = function() {
        console.log(this.value);
        if(this !== prev) {
            prev = this;
            string = this.value;
            genderField.textContent = string;
            if (string ==='all'){
                text = "Text here describing all graphs ";
            }else if (string ==='female'){
                text = "Text here describing female graphs";
            }else{
                text = "Text here describing male graphs ";
            };
            sourceField.textContent = text;
        };
    };
};
</script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- something comes up but not correctly -->
    <script type="text/javascript" src="{{url_for('static', filename='js/fatal_type.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='js/age_fatal_count.js')}}"></script>


    <!-- <script type="text/javascript" src="{{url_for('static', filename='js/fatality_type_by_age.js')}}"></script> -->


{% endblock %}